/* Reset styles */
body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    align-items: center;
}

header {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

nav ul {
    list-style: none;
    padding: 10px;
    background-color: #333;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

nav ul li a:hover {
    background-color: #555;
}

main {
    margin: 20px;
}

h1, h2, h3 {
    color: #555;
    margin-bottom: 10px;
}

.dog {
        background-color: #fff;
        border: 1px solid #ddd;
        padding: 20px;
        padding-left: 20px;
        margin: auto;
        width: 20%;
        margin: 10px;
        image-rendering: optimizeQuality;
        text-align: left;
        font-size: 80%;
        
    }
    
.dog img {
        height: 70%; 
        width: 100%;
        max-width: 100%;
        margin-bottom: 10px;
        
    }


  


footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

footer p {
    margin: 0;
}

.container {
   display: flex;
   gap: 3;
   flex-wrap: wrap;
}

.buy-buttons {
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.buy-button button {
    text-decoration: none;
    background-color: #555;
    padding: 4px;
    outline: none;
}
